
html {
  background-image: linear-gradient(#041f30, #041f10);
}

.App {

}

.Task {
  position: absolute;
  background-color: #f5c842;
  padding: 10px;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  animation-duration: 0.2s;
  animation-name: fadeIn;
  text-align: center;
  display: inline-block;
}

@keyframes slidein {
  from {
    left: 80px;
  }
  to {
    left: 120px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.newFormPopup {
  position: absolute;
  background-color: #567a8f;
  border-radius: 10px;
  left: 120px;
  opacity: 1;
  animation-duration: 0.2s;
  animation-name: slidein, fadeIn;
  top: 10px;
  padding: 20px;
}

.newFormPopup label, button, input {
  margin: 10px;
}

.newFormPopup button {
  padding: 4px;
}

.newFormPopup label {
  color: white;
}
